@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'),
    url('../fonts/dosis-v7-latin-regular.woff2') format('woff2'),
    url('../fonts/dosis-v7-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-latin-700.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin-700.woff') format('woff');
}

html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 650px;
}

/* HEADER */

.header-main {
  background: url(../img/header.png) center;
  background-size: cover;
  width: 750px;
  margin: 0 auto;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 850px;
}

.header-menu-item {
  display: block;
  text-decoration: none;
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 3.487;
  text-align: center;
}
