@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'),
    url('../fonts/dosis-v7-latin-regular.woff2') format('woff2'),
    url('../fonts/dosis-v7-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-latin-700.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin-regular.woff') format('woff');
}

html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 0.5rem;
}

/* HEADER */

.header-main {
  position: relative;
  background: url(../img/header.png) 45% 50% no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 117.8rem;
}

.pre-menu {
  width: 100%;
  height: 16rem;
  background: url(../img/burger.png) 90% 50% no-repeat;
  visibility: visible;
  transition: 200ms linear;
}

.pre-menu:hover {
  visibility: hidden;
}

.pre-menu:hover .header-menu {
  visibility: visible;
}

.header-menu {
  visibility: hidden;
  position: relative;
  list-style: none;
  padding: 0;
  padding-top: 4rem;
  z-index: 3;
  transition: 200ms linear;
}

.header-menu-item {
  display: block;
  text-decoration: none;
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  line-height: 3.487;
}

.header-menu-item::after {
  background-color: #000000;
  width: 0%;
  height: 0.3rem;
  margin: 0 auto;
  display: block;
  content: '';
  transition: 200ms linear;
}

.header-menu-item:hover:after {
  width: 100%;
}

.logo {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/logo.png) center no-repeat;
  background-size: contain;
}

/* DISCOGRAPHY */

.discography {
  background: url(../img/discography.jpg) center bottom no-repeat;
  background-size: auto;
  margin-top: 2rem;
  margin-bottom: 10rem;
  text-align: center;
}

.title-h2 {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-family: 'Dosis';
}

.title-h2::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  height: 0.1rem;
  width: 100%;
  line-height: 1.174;
  background-color: #000002;
}

.discography-title {
  font-size: 4rem;
  color: #896850;
  margin-bottom: 3.6rem;
}

.discography-about {
  padding: 0 1rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
}

.disco-list {
  margin-top: 10.4rem;
  padding: 1.5rem;
  padding-bottom: 43rem;
}

.disco-list-item {
  text-align: left;
  margin-bottom: 7rem;
}

.article-year {
  font-family: 'Open Sans', sans-serif;
}

.article-year::after {
  display: block;
  content: '';
  height: 0.1rem;
  width: 100%;
  margin: 1rem auto 0.5rem auto;
  background-color: #000002;
}

.pre-title {
  margin: 0;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3.8rem;
}

.article-title {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  letter-spacing: 0.5px;
}

.article-text {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.9;
  margin-bottom: 6.6rem;
}

.play {
  display: block;
  width: 19.6rem;
  height: 5.6rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  line-height: 1.618;
  margin: 0 auto;
}

.disco01 {
  background: url(../img/disco01.png);
  color: rgb(255, 255, 255);
}

.disco02 {
  background: url(../img/disco02.png);
}

.disco03 {
  background: url(../img/disco03.png);
}

/* CONCERT TOURS */

.concert-tours {
  background: url(../img/concert.png) center bottom no-repeat;
  background-size: cover;
  margin-bottom: 10rem;
  padding: 1.5rem;
  text-align: center;
}

.concert-tours-head {
  margin-bottom: 15rem;
}

.concert-tours-title {
  color: #779da6;
  margin-bottom: 4rem;
}

.concert-tours-about {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  letter-spacing: 1.2px;
}

.half-container {
  width: 70%;
  padding-bottom: 5rem;
}

.concert-tours-smoke {
  margin-bottom: 8.5rem;
}

.buy-online {
  display: block;
  width: 20rem;
  margin-top: 5.5rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.734;
  border-width: 1px;
  border-color: rgb(99, 99, 99);
  border-style: solid;
  opacity: 0.439;
}

.buy-online span {
  padding-right: 2rem;
}

/* LATTER COMPOSITIONS */

.latter-compositions {
  margin-bottom: 12rem;
}

.latter-compositions-head {
  margin-bottom: 5rem;
}

.latter-compositions-title {
  margin-bottom: 4rem;
}

.latter-compositions-about {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 1.5rem;
  color: rgb(122, 128, 131);
  line-height: 1.618;
}

.latter-compositions-release {
  margin: 0 auto;
}

.latter-compositions-item {
  background-color: #f5f6f6;
  padding-top: 3.5rem;
}

.latter-compositions-item:not(:last-child) {
  margin-bottom: 5rem;
}

.latter-compositions-wrapper {
  width: 90%;
  margin-bottom: 3.6rem;
  margin-left: 5%;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  line-height: 1.618;
}

.latter-compositions-album {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 0.7rem;
  padding-bottom: 4rem;
}

.latter-compositions-album::before {
  display: block;
  content: '';
  height: 1px;
  width: 75%;
  background-color: #000002;
}

.latter-compositions-songs {
  font-size: 2.3rem;
  line-height: 1.055;
  padding-bottom: 3.2rem;
}

.latter-compositions-songs-text {
  color: rgb(122, 128, 131);
  padding-bottom: 3.5rem;
}

.latter-compositions-button {
  width: 40%;
  padding: 1.3rem 2.2rem;
  text-align: left;
  color: rgb(0, 0, 2);
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.618;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  opacity: 0.439;
  text-transform: none;
}

.latter-button-icons {
  display: flex;
  justify-content: space-between;
}

.button-icon {
  fill: rgb(0, 0, 2);
  width: 1rem;
  height: 1rem;
}

.latter-compositions-list {
  display: flex;
  flex-basis: 55%;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2.6rem;
  font-size: 1.3rem;
  color: rgb(151, 152, 152);
  line-height: 1.2;
  position: relative;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: rgba(151, 152, 152, 0.8);
  margin-right: 0.5rem;
}

/*-- LEAD SINGER --*/

.lead-singer {
  margin-bottom: 8rem;
}

.lead-singer-slider {
  position: relative;
  background: url(../img/slider.jpg) center no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5.8rem;
}

.slider-descr {
  margin: 0 auto;
  padding-top: 20rem;
  font-family: 'OpenSans';
  text-align: center;
  padding: 1.5rem;
}

.slider-icons {
  display: flex;
  width: 10rem;
  margin: 0 auto;
  justify-content: space-between;
  fill: #ffffff;
}

.slider-icons-left {
  width: 2.6rem;
  transform: rotate(-35deg) rotateY(180deg) scaley(0.5);
}

.slider-icons-music {
  width: 3.2rem;
}

.slider-icons-right {
  width: 2.6rem;
  transform: rotate(35deg) scaley(0.5);
}

/* LEAD SINGER START */

.lead-singer-about {
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.545;
  padding-bottom: 2.6rem;
}

.lead-singer-text {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(122, 128, 131);
  line-height: 1.618;
  padding-bottom: 5.8rem;
}

.lead-singer-years {
  font-size: 1.4rem;
  color: rgb(86, 94, 97);
  line-height: 1.734;
  padding-bottom: 7.5rem;
}

.slider-icons-bottom {
  width: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  fill: rgb(86, 94, 97);

  padding-bottom: 8.5rem;
}

.circle {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}

.lead-singer-songs {
  margin: 0 auto;
  max-width: 38.4rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.lead-singer-item {
  position: relative;
  min-width: 31.5rem;
  min-height: 42.2rem;
  margin-bottom: 5.5rem;
  padding: 1.5rem;
  overflow: hidden;
}

.digital_bgr {
  background-position: right;
  background-repeat: no-repeat;
}
.digital_one {
  background-image: url(../img/newtrack01.jpg);
}
.digital_two {
  background-image: url(../img/newtrack02.jpg);
}
.digital_three {
  background-image: url(../img/newtrack03.jpg);
}
.digital_four {
  background-image: url(../img/newtrack04.jpg);
}
.digital_five {
  background-image: url(../img/newtrack05.jpg);
}
.digital_six {
  background-image: url(../img/newtrack06.jpg);
}

.lead_number::after {
  position: absolute;
  bottom: -20%;
  right: -15%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.169);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.digital_one::after {
  content: '01';
}

.digital_two::after {
  content: '02';
}

.digital_three::after {
  content: '03';
}

.digital_four::after {
  content: '04';
}

.digital_five::after {
  content: '05';
}

.digital_six::after {
  content: '06';
}

.lead-singer-wrapper {
  padding-right: 1.5rem;
}

.lead-singer-date {
  font-size: 1.4rem;
  line-height: 1.734;
  font-weight: bold;
}

.lead-singer-album {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 1.618;
  font-weight: bold;
  padding-top: 0.4rem;
  padding-bottom: 3.8rem;
}

.lead-singer-album-title {
  font-size: 2.3rem;
  color: rgb(0, 0, 0);
  line-height: 1.055;
  text-transform: none;
  padding-bottom: 3rem;
}

.lead-singer-album-text {
  font-size: 1.5rem;
  font-family: 'Open Sans';
  color: rgb(122, 128, 131);
  line-height: 1.618;
  text-transform: none;
}

.lead-singer-album::before {
  display: block;
  content: '';
  height: 0.09rem;
  background-color: #000002;
}

/* UPCOMING START */

.upcoming {
  margin: 0 auto;
  background: url(../img/upcoming.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 7.9rem;
  padding: 1.5rem;
}

.upcoming-head {
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.618;
  max-width: 54.5rem;
}

.upcoming-title {
  line-height: 1.2;
  color: rgb(66, 113, 126);
  margin-bottom: 5rem;
}

.upcoming-item {
  font-size: 2.6rem;
  line-height: 1.055;
  letter-spacing: 0.2rem;
  padding-bottom: 1.8rem;
}

.upcoming-item:after {
  display: block;
  content: '';
  position: absolute;
  width: 12.6rem;
  height: 0.1rem;
  background-color: #000002;
  margin-top: 0.8rem;
}

.upcoming-adress {
  color: rgb(122, 128, 131);
  padding-bottom: 7.3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  position: relative;
}

.upcoming-adress:after {
  display: block;
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 5.1rem;
  background-color: #000002;
  margin: 1.6rem 2.8rem;
}

.upcoming-date {
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-bottom: 20.3rem;
}

.upcoming-date:after {
  display: block;
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 16.5rem;
  background-color: #000002;
  margin: 1.8rem 2.8rem;
}

.upcoming-descr {
  font-family: 'OpenSans';
  color: rgb(122, 128, 131);
  padding-top: 1.4rem;
  padding-bottom: 7.4rem;
  font-weight: bold;
}

.upcoming-date-next {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-bottom: 29.2rem;
}

.upcoming-date-next:before {
  display: block;
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 5.1rem;
  background-color: #000002;
  margin: -5.6rem 2.8rem;
}

/* HISTORY START */

.history {
  margin: 0 auto;
  padding: 1rem;
  background: url(../img/history.jpg) center bottom no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.history-title {
  margin-bottom: 3.5rem;
}

.history-title,
.contact-title {
  font-size: 4rem;
  color: rgb(91, 92, 90);
}

.contact-title {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.history-text {
  font-size: 1.5rem;
  font-family: 'Open Sans';
  letter-spacing: 0.2rem;
  color: rgb(122, 128, 131);
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-bottom: 4.8rem;
}

.history-list {
  display: flex;
  text-transform: uppercase;
  color: rgb(122, 128, 131);
  font-size: 2.6rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.history-text-descr {
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  color: rgb(122, 128, 131);
  font-weight: 700;
  padding-bottom: 61rem;
}

/*FORM START*/

.contact-section {
  margin: 0 auto;
  padding: 1.5rem;
  padding-top: 8rem;
  background: url(../img/contact.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 50rem;
  width: 100%;
}

.contact-head {
  padding-bottom: 3.2rem;
  max-width: 50rem;
  margin: 0 auto;
}

.contact-text {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(121, 130, 133);
  line-height: 2.4;
  text-align: left;
}

.contact-tel {
  font-size: 1.4rem;
  font-family: 'Open Sans';
  color: rgb(121, 130, 133);
  line-height: 3.571;
}

.contact-us-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
}

.contact-us-form {
  flex-grow: 3;
  margin: 0 1rem;
  max-width: 38.4rem;
  position: relative;
}

.contact-us-form:after {
  content: '';
  height: 19rem;
  position: absolute;
  top: 3rem;
  left: 25rem;
}

.group {
  position: relative;
  display: block;
  margin-bottom: 4rem;
  /* max-width: 20rem; */
}

.icons-form {
  display: inline-block;
  padding-top: 2.4rem;
}

.icons-form-list {
  padding: 0 0.6rem 1rem 1rem;
  border-left: 0.05rem solid black;
}

.icons-form-facebook {
  width: 1.8rem;
  height: 1.7rem;
}

.icons-form-instagram {
  width: 1.9rem;
  height: 1.9rem;
  margin-top: 6.7rem;
  margin-bottom: 6.7rem;
}

.icons-form-twitter {
  width: 1.6rem;
  height: 1.3rem;
}

input {
  display: block;
  max-width: 20rem;
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem solid #000;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */

label {
  font-size: 1.4rem;
  font-family: 'Open Sans';
  color: rgb(121, 130, 133);
  line-height: 1.734;
  position: absolute;
  pointer-events: none;
  left: 1rem;
  top: 1rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -1.5rem;
  font-size: 1.4rem;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  max-width: 38rem;
}

.bar:before,
.bar:after {
  content: '';
  height: 0.2rem;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

button {
  display: block;
  font-size: 2rem;
  font-family: 'OpenSans';
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.4;
  text-decoration: none;
  border: 0;
  outline: none;
  background: none;
  color: #000000;
}

button:hover,
button:focus {
  background: rgba(204, 169, 169, 0.2);
  cursor: pointer;
  color: #2a8127;
}
