git @font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'),
    url('../fonts/dosis-v7-latin-regular.woff2') format('woff2'),
    url('../fonts/dosis-v7-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-latin-700.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin-700.woff') format('woff');
}

html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 0.5rem;
}

/* HEADER */

.header-main {
  position: relative;
  background: url(../img/header.png) center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 117.8rem;
}

.pre-menu {
  width: 100%;
  height: 16rem;
  background: url(../img/burger.png) 90% 50% no-repeat;
  visibility: visible;
  transition: 200ms linear;
}

.pre-menu:hover {
  visibility: hidden;
}

.pre-menu:hover .header-menu {
  visibility: visible;
}

.header-menu {
  visibility: hidden;
  position: relative;
  list-style: none;
  padding: 0;
  padding-top: 4rem;
  z-index: 3;
  transition: 200ms linear;
}

.header-menu-item {
  display: block;
  text-decoration: none;
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  line-height: 3.487;
}

.header-menu-item::after {
  background-color: #000000;
  width: 0%;
  height: 0.3rem;
  margin: 0 auto;
  display: block;
  content: '';
  transition: 200ms linear;
}

.header-menu-item:hover:after {
  width: 100%;
}

.logo {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/logo.png) center no-repeat;
  background-size: cover;
}

/* DISCOGRAPHY */

.discography {
  background: url(../img/discography.jpg) center bottom no-repeat;
  background-size: cover;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.title-h2 {
  text-align: center;
  position: relative;
  font-size: 4.6rem;
  width: max-content;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.title-h2::before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 100%;
  background-color: #000002;
}

.discography-title {
  color: #896850;
  margin-bottom: 3.6rem;
}

.discography-about {

  padding: 0 1rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.disco-list {
  margin-top: 10.4rem;
  padding-bottom: 43rem;

}

.disco-list-item {
  margin-bottom: 7rem;
}

.article-year {
  font-family: 'Open Sans', sans-serif;
}

.article-year::after {
  display: block;
  content: '';
  height: 0.1rem;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: #000002;
}

.pre-title {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 3.8rem;
}

.article-title {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  letter-spacing: 0.5px;
}

.article-text {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.9;
  margin-bottom: 6.6rem;
}

.play {
  display: block;
  width: 19.6rem;
  height: 5.6rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  line-height: 1.618;
  margin: 0 auto;
}

.disco01 {
  background: url(../img/disco01.png);
  color: rgb(255, 255, 255);
}

.disco02 {
  background: url(../img/disco02.png);
}

.disco03 {
  background: url(../img/disco03.png);
}

/* CONCERT TOURS */

.concert-tours {
  background: url(../img/concert.png) center bottom no-repeat;
  background-size: cover;
  margin-bottom: 10rem;
}

.concert-tours-head {
  margin-bottom: 31rem;
}

.concert-tours-title {
  color: #779da6;
  margin-bottom: 4rem;
}

.concert-tours-about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  letter-spacing: 1.2px;
}

.half-container {
  width: 70%;
  padding-bottom: 5rem;
}

.concert-tours-smoke {
  margin-bottom: 8.5rem;
}

.buy-online {
  display: block;
  width: 20rem;
  margin-top: 5.5rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.734;
  border-width: 1px;
  border-color: rgb(99, 99, 99);
  border-style: solid;
  opacity: 0.439;
}

.buy-online span {
  padding-right: 2rem;
}

/* LATTER COMPOSITIONS */

.latter-compositions {
  margin-bottom: 12rem;
}

.latter-compositions-head {
  margin-bottom: 5rem;
}

.latter-compositions-title {
  margin-bottom: 4rem;
}

.latter-compositions-about {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 1.5rem;
  color: rgb(122, 128, 131);
  line-height: 1.618;
}

.latter-compositions-release {
  margin: 0 auto;
}

.latter-compositions-item {
  background-color: #f5f6f6;
  padding-top: 3.5rem;
}

.latter-compositions-item:not(:last-child) {
  margin-bottom: 5rem;
}

.latter-compositions-wrapper {
  width: 90%;
  margin-bottom: 3.6rem;
  margin-left: 5%;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  line-height: 1.618;
}

.latter-compositions-album {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 0.7rem;
  padding-bottom: 4rem;
}

.latter-compositions-album::before {
  display: block;
  content: '';
  height: 1px;
  width: 75%;
  background-color: #000002;
}

.latter-compositions-songs {
  font-size: 2.3rem;
  line-height: 1.055;
  padding-bottom: 3.2rem;
}

.latter-compositions-songs-text {
  color: rgb(122, 128, 131);
  padding-bottom: 3.5rem;
}

.latter-compositions-button {
  width: 40%;
  padding: 1.3rem 2.2rem;
  text-align: left;
  color: rgb(0, 0, 2);
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.618;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  opacity: 0.439;
  text-transform: none;
}

.latter-button-icons {
  display: flex;
  justify-content: space-between;
}

.button-icon {
  fill: rgb(0, 0, 2);
  width: 1rem;
  height: 1rem;
}

.latter-compositions-list {
  display: flex;
  flex-basis: 55%;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2.6rem;
  font-size: 1.3rem;
  color: rgb(151, 152, 152);
  line-height: 1.2;
  position: relative;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: rgba(151, 152, 152, 0.8);
  margin-right: 0.5rem;
}

/*-- LEAD SINGER --*/

.lead-singer {
  margin-bottom: 8rem;
}

.lead-singer-slider {
  position: relative;
  background: url(../img/slider.jpg) center no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5.8rem;
}

.slider-descr {
  margin: 0 auto;
  padding-top: 20rem;
  font-family: 'OpenSans';
  text-align: center;
}

.slider-icons {
  display: flex;
  width: 10rem;
  margin: 0 auto;
  justify-content: space-between;
  fill: #ffffff;
}

.slider-icons-left {
  width: 2.6rem;
  transform: rotate(-35deg) rotateY(180deg) scaley(0.5);
}

.slider-icons-music {
  width: 3.2rem;
}

.slider-icons-right {
  width: 2.6rem;
  transform: rotate(35deg) scaley(0.5);
}

.lead-singer-about {
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.545;
  padding-bottom: 2.6rem;
}

.lead-singer-text {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(122, 128, 131);
  line-height: 1.618;
  padding-bottom: 5.8rem;
}

.lead-singer-years {
  font-size: 1.4rem;
  color: rgb(86, 94, 97);
  line-height: 1.734;
  padding-bottom: 7.5rem;
}

.slider-icons-bottom {
  width: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  fill: rgb(86, 94, 97);

  padding-bottom: 8.5rem;
}

.circle {
  width: 1rem;
  height: 1rem;
}

.lead-singer-songs {
  position: relative;
  margin: 0 auto;
  width: 384px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.lead-singer-item {
  position: relative;
}

.digital_one::after{
  display: block;
  content: "01";
  position: absolute;
  bottom: -13%;
  right:  -24%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 136px;
  width: 136px;
  font-size: 90px;
  font-family: "OpenSans";
  color: rgba(0, 0, 0, 0.169);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.734;
  text-align: center;
}

.digital_two::after{
  display: block;
  content: "02";
  position: absolute;
  bottom: -13%;
  right:  -24%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 136px;
  width: 136px;
  font-size: 90px;
  font-family: "OpenSans";
  color: rgba(0, 0, 0, 0.169);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.734;
  text-align: center;
}

.digital_two::after{
  display: block;
  content: "02";
  position: absolute;
  bottom: -13%;
  right:  -24%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 136px;
  width: 136px;
  font-size: 90px;
  font-family: "OpenSans";
  color: rgba(0, 0, 0, 0.169);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.734;
  text-align: center;
}

.digital_three::after{
  display: block;
  content: "03";
  position: absolute;
  bottom: -13%;
  right:  -24%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 136px;
  width: 136px;
  font-size: 90px;
  font-family: "OpenSans";
  color: rgba(0, 0, 0, 0.169);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.734;
  text-align: center;
}
.digital_four::after{
  display: block;
  content: "04";
  position: absolute;
  bottom: -13%;
  right:  -24%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 136px;
  width: 136px;
  font-size: 90px;
  font-family: "OpenSans";
  color: rgba(0, 0, 0, 0.169);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.734;
  text-align: center;
}
.digital_five::after{
  display: block;
  content: "05";
  position: absolute;
  bottom: -13%;
  right:  -24%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 136px;
  width: 136px;
  font-size: 90px;
  font-family: "OpenSans";
  color: rgba(0, 0, 0, 0.169);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.734;
  text-align: center;
}
.digital_six::after{
  display: block;
  content: "06";
  position: absolute;
  bottom: -28%;
  right:  -24%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 136px;
  width: 136px;
  font-size: 90px;
  font-family: "OpenSans";
  color: rgba(0, 0, 0, 0.169);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.734;
  text-align: center;
}

.lead-singer-wrapper {
  position: absolute;
  top: 7%;
  left: 12%;
  width: 308px;
}

.lead-singer-date {
  font-size: 14px;
  line-height: 1.734;
  font-weight: bold;
}

.lead-singer-album {
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.618;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 38px;
}

.lead-singer-album-title {
  font-size: 23px;
  color: rgb(0, 0, 0);
  line-height: 1.055;
  text-transform: none;
  padding-bottom: 30px;
}

.lead-singer-album-text {
  font-size: 15px;
  font-family: 'Open Sans';
  color: rgb(122, 128, 131);
  line-height: 1.618;
  text-transform: none;
}

.lead-singer-item:not(:last-child) {
  padding-bottom: 54px;
}

.lead-singer-album::before {
  display: block;
  content: '';
  height: 1px;
  width: 314px;
  background-color: #000002;
}

.upcoming {
  margin: 0 auto;
  background: url(../img/upcoming.jpg) center bottom no-repeat;
  background-size: cover;
  width: 750px;
  margin-bottom: 79px;
}

.upcoming-head {
  margin: 0 auto;
  padding: 0;
  margin-left: 152px;
  font-size: 15px;
  line-height: 1.618;
  width: 545px;
}

.upcoming-title {
  font-size: 50.49px;
  color: rgb(66, 113, 126);
  text-transform: uppercase;
  position: relative;
  line-height: 1.174;
  padding-top: 40px;
  letter-spacing: 6px;
  padding-bottom: 100px;
}

.upcoming-title:before {
  content: '';
  position: absolute;
  top: 35%;
  left: -3%;
  height: 1px;
  width: 504px;
  background-color: #000002;
}

.upcoming-item {
  font-size: 26px;
  line-height: 1.055;
  letter-spacing: 2px;
  padding-bottom: 18px;
}

.upcoming-item:after {
  display: block;
  content: '';
  position: absolute;
  width: 126px;
  height: 1px;
  background-color: #000002;
  margin-top: 8px;
}

.upcoming-adress {
  color: rgb(122, 128, 131);
  padding-bottom: 73px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
}

.upcoming-adress:after {
  display: block;
  content: '';
  position: absolute;
  width: 1px;
  height: 51px;
  background-color: #000002;
  margin: 16px 28px;
}

.upcoming-date {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 203px;
}

.upcoming-date:after {
  display: block;
  content: '';
  position: absolute;
  width: 1px;
  height: 165px;
  background-color: #000002;
  margin: 18px 28px;
}

.upcoming-descr {
  font-family: 'OpenSans';
  color: rgb(122, 128, 131);
  padding-top: 14px;
  padding-bottom: 74px;
  font-weight: bold;
}

.upcoming-date-next {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 292px;
}

.upcoming-date-next:before {
  display: block;
  content: '';
  position: absolute;
  width: 1px;
  height: 51px;
  background-color: #000002;
  margin: -56px 28px;
}

.history {
  margin: 0 auto;
  background: url(../img/history.jpg) center bottom no-repeat;
  background-size: cover;
  width: 750px;
}

.history-title {
  font-size: 50.49px;
  color: rgb(91, 92, 90);
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.174;
  text-align: center;
  padding-bottom: 35px;
}

.history-text {
  font-size: 15px;
  font-family: 'Open Sans';
  letter-spacing: 2px;
  color: rgb(122, 128, 131);
  line-height: 1.618;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-bottom: 100px;
}

.history-list {
  display: flex;
  text-transform: uppercase;
  color: rgb(122, 128, 131);
  font-size: 36px;
  justify-content: space-between;
  padding-bottom: 35px;
}

.history-text-descr {
  width: 220px;
  margin: 0 auto;
  text-align: center;
  color: rgb(122, 128, 131);
  font-weight: 700;
  padding-bottom: 610px;
}

/*FORM*/

.contact-section {
  padding-top: 80px;
  padding-bottom: 5px;
  background: url(../img/contact.jpg) center;
  background-size: cover;
  padding-bottom: 500px;
}

.contact-head {
  margin-bottom: 32px;
  width: 500px;
  margin: 0 auto;
}

.contact-title {
  margin-bottom: 15px;
  font-size: 50.49px;
  color: rgb(67, 67, 67);
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgb(122, 128, 131);
  line-height: 1.174;
  text-align: left;
  position: relative;
}

.contact-title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 500px;
  background-color: black;
}

.contact-text {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(121, 130, 133);
  line-height: 3.571;
  text-align: left;
}

.contact-tel {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(121, 130, 133);
  line-height: 3.571;
}

.contact-us-form {
  width: 384px;
  position: relative;
}

.contact-us-form:after {
  content: '';
  width: 0px;
  height: 190px;
  position: absolute;
  border: 1px solid black;
  top: 0;
  left: 500px;
}

.group {
  position: relative;
  margin-bottom: 30px;
  width: 380px;
}

input {
  width: 380px;
  font-size: 16px;
  padding: 10px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */

label {
   font-size: 14px;
   font-family: 'Open Sans';
   color: rgb(121, 130, 133);
   line-height: 1.734;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 380px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

button {
  display: block;
  font-size: 20px;
  font-family: 'OpenSans';
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.214;
  text-decoration: none;
  border: 0;
  outline: none;
  background-color: none;
}

button:hover,
button:focus {
  background: rgba(204, 169, 169, 0.2);
  cursor: pointer;
  color: #2a8127;
}
